@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.homebanner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../lib/Image/3016.jpg);
    background-size: cover;
    background-position: center;
}

.homenavbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .homenavbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }

        .homenavbar ul li a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
        }

        .homenavbar ul li::after {
            content: '';
            height: 3px;
            width: 0;
            background: linear-gradient(135deg, #d53369, #cbab6b);
            position: absolute;
            right: 0;
            bottom: -10px;
            transition: 0.5s;
        }

        .homenavbar ul li:hover::after {
            width: 100%;
        }

.homecontent {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

    .homecontent h1 {
        font-size: 70px;
        margin-top: 80px;
    }

    .homecontent p {
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
        font-size:25px;
    }

.homebutton {
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid linear-gradient(135deg, #d53369, #cbab6b);
    border-color: linear-gradient(135deg, #d53369, #cbab6b);
    background: linear-gradient(135deg, #d53369, #cbab6b);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.homespan {
    /* background:linear-gradient(135deg, #71b7e6, #9b59b6); */
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.homebutton:hover span {
    width: 100%;
}

.homebutton:hover {
    border: none;
}
