@model MvcbkLending.Models.UserTable

@{
    ViewData["Title"] = "create";
    @*Layout= "~/Views/Shared/_Layout.cshtml";*@
}
<link href="~/css/Book.css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <body class="body">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="container">
            <div class="title">BOOK LENDING FORM</div>
            <div class="content">
                    <form asp-action="Create" id="userform">
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Full Name</span>
                                <input type="text" placeholder="Enter your name" asp-for="Name" id="name" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <span class="details">Email</span>
                                @*@Html.TextBoxFor(e => e.Email, new { id = "email" })*@
                                <input type="text" placeholder="Enter your email" asp-for="Email" id="email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <span class="details">Category</span>
                                <select id="category" asp-items="@ViewBag.category" asp-for="Catergory" required>
                                    <option selected disabled>Select Category</option>
                                </select>
                                <span asp-validation-for="Catergory" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <span class="details">Book Name</span>
                                <select id="book" asp-for="Bookname">
                                    <option disabled>Select Book</option>
                                </select>
                                <span asp-validation-for="Bookname" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <span class="details">Lended Date</span>
                                @Html.TextBox("Lendeddate", DateTime.Today.ToShortDateString(), new { id = "ldate", @readonly = "readonly" })
                            </div>
                            <div class="input-box">
                                <span class="details">Return Date</span>
                                <input id="returndate" asp-for="Returndate" onchange="date()" required />
                                <span asp-validation-for="Returndate" class="text-danger"></span>
                                <span id="status"></span>
                            </div>
                            <div class="input-box">
                                <span class="details">Cost</span>
                                <input type="text" placeholder="0" asp-for="Cost" id="cost" readonly="readonly">
                            </div>
                        </div>
                        <div class="button">
                            <input type="submit" value="Submit" id="submit" onclick="clearall()">
                        </div>
                    </form>
                    <input type="submit" value="Save" id="save" onclick="save()">
                </div>
        </div>
    </body>


    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script type="text/javascript">
            $(document).ready(function () {
                $("#category").on("change", function () {
                    $.ajax({
                        type: "Get",
                        url: "/User/Getbook",
                        data: { "Cname": $("#category").val() },
                        success: function (response) {
                            var items = '';
                            items = '<option value=" " selected disabled> Select book </option>'
                            $(response).each(function () {
                                items += "<option value=" + this.text + ">" + this.text + "</option>";

                            })
                            $("#book").html(items);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                })
            });
            function checkdt() {
                var dd = new Date(document.getElementById("returndate").value).getTime();
                var lenddate = Date.parse(new Date());
                var ddt = new Date(lenddate).getTime();
                if ((document.getElementById("returndate").value == null) || (dd + 86400000 <= ddt)) {
                    $("#status").html('<font color="Red"> Return date should to greater than or equal to Lended date')
                    $("#submit").prop('disabled', true);
                }
                else {
                    $("#status").html('<font color="Green"> Valid')
                    $("#submit").prop('disabled', false);
                }
            }
            function date() {
                var returndate = document.getElementById("returndate").value
                var lenddate = Date.parse(new Date());
                var Time = new Date(returndate).getTime() - new Date(lenddate).getTime();
                var Days = parseInt(Time / (1000 * 3600 * 24)) + 1;
                if (Days <= 1) {
                    var result = 0;
                    document.getElementById("cost").value = result;
                }
                else if (Days <= 5) {
                    var result = 100;
                    document.getElementById("cost").value = result;
                }
                else if (Days > 5) {
                    var rate = Days - 5;
                    var Rate = rate * 20;
                    var result = 100 + Rate;
                    document.getElementById("cost").value = result;
                }
                checkdt()
            }
            function save() {
                localStorage.setItem("uname", document.getElementById("name").value);
                localStorage.setItem("uemail", document.getElementById("email").value);
                localStorage.setItem("ucategory", document.getElementById("category").value);
                localStorage.setItem("ubook", document.getElementById("book").value);
                localStorage.setItem("urdate",document.getElementById("returndate").value);
                localStorage.setItem("uldate", document.getElementById("ldate").value);
                localStorage.setItem("ucost", document.getElementById("cost").value);
                confirm('saved successfully');
                window.location.reload();
            }
            window.onload = function () {
                var name = localStorage.getItem("uname");
                var email = localStorage.getItem("uemail");
                var categ = localStorage.getItem("ucategory");
                var bookname = localStorage.getItem("ubook");
                var rdate = localStorage.getItem("urdate");
                var ldate = localStorage.getItem("uldate");
                var cost = localStorage.getItem("ucost");
                if (name !== null) document.getElementById("name").value = name;
                if (email !== null) document.getElementById("email").value = email;
                if (categ !== null) document.getElementById("category").value = categ;
                if (bookname !== null) document.getElementById("book").value = bookname;
                if (rdate !== null) document.getElementById("returndate").value = rdate;
                if (ldate !== null) document.getElementById("ldate").value = ldate;
                if (cost !== null) document.getElementById("cost").value = cost;  
            }
            function clearall() {
                window.localStorage.clear();
                validateForm()
            }
            $(document).ready(function () {
                $("#email").on("change", function () {
                    $.ajax({
                        type: "Get",
                        url: "/User/checkUser",
                        data: { "mail": $("#email").val() },
                        success: function (data) {
                            if (data == 1) {
                                $('#email').css("border-color", "Red")
                                $(document).ready(function () {
                                    $.ajax({
                                        type: "Get",
                                        url: "/User/getuserinfo",
                                        data: { "mail": $("#email").val() },
                                        success: function (info) {
                                            for (i in info.data) {
                                                for (j in info.data[i]) {
                                                    if (j == "Returndate") {
                                                        var rdt = new Date(info.data[i][j]);
                                                        @*var gdt = new Date(info.data[i][j]).getDate() + 1;*@
                                                        var cdt = new Date();
                                                        console.log("rdt", rdt.getTime());
                                                        console.log("cdt", cdt.getTime());
                                                        if (rdt.getTime() + 86400000 >= cdt.getTime()) {
                                                            confirm('You can lend another book only after your return date')
                                                            window.location.reload();
                                                        }
                                                        @*else if (rdt.getDate() == cdt.getDate()) {
                                                            confirm('You can lend another book only after your return date')
                                                            window.location.reload();
                                                        }*@
                                                    }
                                                }
                                            }
                                        }
                                    })
                                })
                            }
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                })
            })

            function validateForm() {
                var form = document.getElementById("userform").value
                if (form == "") {
                   @* alert("submitted successfully");
                    return false;*@
                }
                else {
                    alert("submitted successfully");
                    return true;
                }
            }
        </script>
    }
