

    <link href="~/css/contact.component.css" rel="stylesheet" />
    <div class="homebanner">
        <div class="homenavbar">
            <img src="" class="">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="@Url.Action("Create", "User")">Lend Book</a></li>
            </ul>
        </div>
        <div class="homecontent">
            <h1>BookLand Lending System</h1>
            <p> Read what You Love.Love What You Read! </p>
            <div>
                <button type="button" class="homebutton" onclick='window.location = "@Url.Action("Create", "User")";'><span class="homespan"></span>Lend Book</button>
                <button type="button" class="homebutton" onclick='window.location = "@Url.Action("Index", "User")";'><span class="homespan"></span>View Report</button>
            </div>
        </div>

    </div>