@model mvc.Models.Categoytbl

@{
    ViewData["Title"] = "create";
}

<form>
    <select id="category" asp-items="@ViewBag.category">
        <option>select category</option>
    </select>
    <select id="book">
        <option>select Book</option>
    </select>
</form>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#category").change(function () {
            $("#book").empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("loadbook")',
                dataType: 'json',
                data: { id: $("#category").val() },
                success: function (books) {
                    $("#book").append('<option value="' + state.value + '" > ' + "select book" + '</option>');
                },
                error: function (ex) {
                    alert('Failed to retrieve', +ex);
                }
            });
            return false;
        })
    })
    </script>
}